.Nav {
    font-size: 1.5em;
    width: auto;
    padding: 13px;
    margin: 0;
    background-color: #12181db2;
    border-bottom: 2px 2px #5e4bca;
    color: #fff;
}

.Nav ul {
    margin: 0;
    padding-left: 10px;
}

.Nav ul li {
    display: inline;
    margin: auto;
}

.Nav a {
    text-decoration: none;
    color: #fff;
}

.Nav a:active {
    color: #fff;
}

.Nav a:hover{
    color: #e8fc77ef;
}