.Player {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    grid-gap: 1em; 
}

.Player div {
    background: #c3dbd6c4;
    padding: 5%;
    margin: 10px;
    box-shadow: 0 2px 3px #83c2df;
    cursor: pointer;
}

.active {
    background: #2339b4c4;
}

.divPlayer {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    color: rgba(82, 139, 192, 0.959);
    text-shadow: 2px 2px #80ddb685;
}