.Year {
    font-size: 1.0em;
    width: auto;
    background-color: rgba(35, 62, 78, 0.726);
    border-bottom: 2px 2px #131029;
    color: #fff;
}

.Year ul {
    list-style-type:none;
    overflow-x: auto;
    margin: 0 auto;
    padding: 0px;
    display: flex;
}

.Year ul li {
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Year ul li a {
    text-decoration: none;
    color: #fff;
}

.Year ul li:hover {
    color: #63d1c2fa;
    font-style: bold;
}