.divSize{
    display: inline-flex;
}

.playedMatches {
    display: grid;
    flex-direction: column;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    grid-gap: .5em;
} 

.playedMatches div{
    background: #a6d0e9;
    /* border: 1px solid; */
    /* border-radius: 10px; */
    padding: 5%;
    margin: 10px;
    box-shadow: 0 2px 3px #8d8da8;
    text-align: center;
    font-size: 1.02em;
    cursor: default;
}